* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rebeccapurple;
    display: grid;
    vertical-align: center;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    position: relative;
    border: 3px solid #000;
    width: 320px;
    height: 640px;
    height:400px;
    background: #fff;
}
.boxIn {
    position: absolute;
    top:-50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: rebeccapurple;
    border-radius: 50%;
    border-bottom: 3px solid transparent;
    outline:3px solid #000;
}
.boxIn::after {
    content: '';
    width:110%;
    height: 50px;
    top: -3px;
    left: -5%;
    background: rebeccapurple;
    position: absolute;
}

.some {
    margin-top: 100px;
}